{% extends 'base.html' %}
{% block content %}

<div class="container my-4 ">
	<div class="card text-center">
		<div class="card-header">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Portfolio</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Projects</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<div class="container">
						<h5 class="my-2"><u>My Portfolio</u></h5>
						<p class="card-text" style="text-align : left;">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu lacinia leo. Proin dolor risus, elementum ac nibh ac, pretium sollicitudin dolor. Nulla porta mi odio, at sagittis lectus vehicula sit amet. Nunc ultrices, nisl et elementum ullamcorper, dui metus pellentesque augue, in elementum mauris metus non lacus. Phasellus dolor neque, mollis et dignissim in, euismod nec quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam libero augue, congue vitae dui ac, viverra dictum dui. Nam ut imperdiet ante, vel facilisis libero. Nulla tincidunt lacus ac risus fringilla rutrum. Cras molestie malesuada mauris ac interdum.
						</p>
						<p class="card-text" style="text-align : left;">
							To be, or not to be, that is the question: Whether 'tis nobler in the mind to suffer The slings and arrows of outrageous fortune, Or to take arms against a sea of troubles And by opposing end them. To die—to sleep, No more; and by a sleep to say we end The heart-ache and the thousand natural shocks That flesh is heir to: 'tis a consummation Devoutly to be wish'd.
						</p>
					</div>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<h5 class="my-2"><u>My Projects that are open source</u></h5>
					<div class="container my-3">
						<table style="background-color: #fff;" class="table">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Project</th>
									<th scope="col">Repository</th>
									<th scope="col">Documentation</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<td>AuthAlpha</td>
									<td>
										<a href="https://github.com/Theorist-Git/AuthAlpha" target="_blank" rel="noopener noreferrer">Github: Theorist-Git/AuthAlpha</a> <br />
										<a href="https://pypi.org/project/AuthAlpha" target="_blank" rel="noopener noreferrer">PyPI: project/AuthAlpha</a>
									</td>
									<td><a href="https://github.com/Theorist-Git/AuthAlpha/tree/master/Tests" target="_blank" rel="noopener noreferrer">AuthAlpha/TestsDir</a></td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>PyCourier</td>
									<td>
										<a href="https://github.com/Theorist-Git/PyCourier" target="_blank" rel="noopener noreferrer">Github: Theorist-Git/PyCourier</a> <br />
										<a href="https://pypi.org/project/PyCourier/" target="_blank" rel="noopener noreferrer">PyPI: project/PyCourier</a>
									</td>
									<td><a href="https://github.com/Theorist-Git/PyCourier/blob/master/test.py" target="_blank" rel="noopener noreferrer">PyCourier/test.py</a></td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>Regression</td>
									<td><a href="https://github.com/Theorist-Git/Regression" target="_blank" rel="noopener noreferrer">Theorist-Git/Regression</a></td>
									<td>NA</td>
								</tr>
								<tr>
									<th scope="row">4</th>
									<td>Encrypt0r</td>
									<td><a href="https://github.com/Theorist-Git/Encrypt0r" target="_blank" rel="noopener noreferrer">Theorist-Git/Encrypt0r</a></td>
									<td>NA</td>
								</tr>
								<tr>
									<th scope="row">5</th>
									<td>Virtual Assistant</td>
									<td><a href="https://github.com/Theorist-Git/CORE" target="_blank" rel="noopener noreferrer">Theorist-Git/CORE</a></td>
									<td>See README.md and core.py file</td>
								</tr>
								<tr>
									<th scope="row">6</th>
									<td>Open-Software-Update</td>
									<td><a href="https://github.com/Theorist-Git/Open-Software-Update" target="_blank" rel="noopener noreferrer">Theorist-Git/Open-Software-Update</a></td>
									<td><a href="https://github.com/Theorist-Git/Open-Software-Update/blob/master/crawler.py" target="_blank" rel="noopener noreferrer">Open-Software-Update/crawler.py</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
					Email: dev-theorist.e5xna@simplelogin.com
					<a href="/" class="d-flex align-items-center text-dark text-decoration-none">
					<a href="https://github.com/Theorist-Git" target="_blank" rel="noopener noreferrer"><img src="/static/svg/github.svg" width="40px" /></a>
					<a class="mx-2" href="https://pypi.org/user/Theorist/" target="_blank" rel="noopener noreferrer"><img src="/static/svg/python.svg" width="40px" /></a>            </a>
					<a href="https://www.linkedin.com/in/mayank-vats-789159257/" target="_blank" rel="noopener noreferrer"><img src="/static/svg/LinkedIn.svg" width="40px" /></a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
